:root {
  --red: #d35266;
  --grey: #888;
  --dark: #383838;
}

body {
  background-color: #f9f9f9;
}

p {
  margin-block-end: 0;
}

.brands-logo {
  width: 35px;
}

.width-30px {
  width: 30px;
}

.f-size-12px {
  font-size: 12px;
}

.navbar {
  background-color: var(--dark);
}

.nav-sm-container {
  width: 100%;
}

.nav a {
  color: #fff;
}

.nav-link {
  padding: 0.5rem;
}

.nav-link.active {
  background-color: unset;
  border: none;
  color: var(--red);
}

.nav button {
  background-color: var(--red);
}

.fa-envelope {
  color: var(--grey);
}

.btn:focus {
  box-shadow: none;
}

/* ----------------------- JUMBOTRON SECTION ------------------------- */

.jumbotron {
  padding: 0.6rem 1rem;
  margin-bottom: 0;
  background-color: unset;
}

/* ---------------- SPACER DIV -------------------------- */

.spacer-title {
  font-size: 14px;
  margin-block-end: 0;
}

/* ----------------------- MULTI-ITEMS CAROUSEL --------------------- */

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(50%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-50%);
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100%;
  border-radius: 2px;
}

/* ------------------------ CARDS ----------------------- */

.color-red {
  color: #fa2c2c;
}

@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

@media screen and (min-width: 1024px) {
  .nav-sm-container {
    width: 100%;
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}
